{% extends '../base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/students-styles.css' %}" />
<title>Quizify Student Register</title>

<section class="p-5 reg-section">

  <div class="notification bg-danger m-auto text-center w-50 text-white">
    {{ error | safe }}
  </div>


  <div class="register-form col-md-6 text-white">

    <div class="text-center p-3">
      <div class="icon-border m-auto">
        <i class="fas fa-user-graduate"></i>
      </div>
    </div>

    <h3 class="text-center mb-4">Sign up as a Student</h3>

    <form method="POST" action="/stdRegPost/">
      {% csrf_token %}

      <div class="form-row">
        <div class="input-group col-lg-6 mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fas fa-id-card"></i>
            </div>
          </div>
          <input type="text" name="studentid" required class="form-control" id="stdid" placeholder="Student ID">
        </div>

        <div class="input-group col-lg-6 mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="las la-signature form-icon"></i>
            </div>
          </div>
          <input type="text" name="fullname" required class="form-control" id="name" placeholder="Full Name">
        </div>
      </div>

      <div class="form-row">
        <div class="input-group col-auto mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fas fa-envelope"></i>
            </div>
          </div>
          <input type="email" name="email" required class="form-control" id="email"
            placeholder="Enter your email address">
        </div>
      </div>

      <div class="form-row">
        <div class="input-group col-auto mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fas fa-key"></i>
            </div>
          </div>
          <input type="password" name="password" required class="form-control" id="password"
            placeholder="Enter a strong password">
        </div>
      </div>

      <div class="form-row">
        <div class="input-group col-lg-6 mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fas fa-graduation-cap"></i>
            </div>
          </div>
          <select class="custom-select" name="semester" id="sem" required>
            <option selected disabled value="">Choose your semester</option>
            <option value="1st">1st</option>
            <option value="2nd">2nd</option>
            <option value="3rd">3rd</option>
            <option value="4th">4th</option>
            <option value="5th">5th</option>
            <option value="6th">6th</option>
            <option value="7th">7th</option>
            <option value="8th">8th</option>
            <option value="8th+">9th & above</option>
          </select>
        </div>

        <div class="input-group col-lg-6 mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fas fa-directions"></i>
            </div>
          </div>
          <input oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
            type="text" name="section" required class="form-control" id="sec" placeholder="Section">
        </div>
      </div>

      <div class="text-center mt-4">
        <button type="submit" class="btn btn-warning mb-2">Submit <i class="ml-1 fas fa-check-circle"></i></button>
      </div>
    </form>

  </div>
</section>


{% endblock %}